__pycache__
# data needs to be explicitly added
data/*
output/*
.ipynb_checkpoints
baseline_weights
models
private_key.json
checkpoints
slurm
sb.sh
venv
wandb
*.DS_Store
**/*.gstmp
*.npy
# Ignore generated credentials from google-github-actions/auth
gha-creds-*.json
# images need to be explicitly added
*.png
.idea
.vscode
scrap
imgs
private_key.json
